<div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Login form -->
        <div class="sidenav">
          <div class="login-main-text">
             <h2>MusicFeel<br> Dashboard</h2>
             <p>Now we need your to upload a selfie</p>
          </div>
       </div>
       <div class="main">
         <div class="row">
           <div class="col-md-12">
             <h3>Thanks for granting us permissions! It is time to upload a photo:</h3>
           </div>
         </div>
         <div class="row">
           <!-- <div class="col-md-3">
             <button class="btn btn-info" (click)="getWeather()">Get Weather</button>
           </div> -->
           <div class="col-md-6">
             <button class="btn btn-info" (click)="uploadPhoto()">Upload my Selfie!</button>
           </div>
         </div>
          
       </div>
      </div>
    </div>
  </div>